div.carousel(ng-swipe-right="prev()", ng-swipe-left="next()")
    img.carousel__frame.carousel__frame--desktop(src='assets/images/cadre-carousel.png')
    img.carousel__frame.carousel__frame--mobile(src='assets/images/cadre-carousel-mobile.png')
    div.carousel-inner(ng-transclude)
    div.carousel__controls
        div.carousel__controls__button.carousel__controls__button--prev(ng-click="prev()")
            | <
        div.carousel__controls__button.carousel__controls__button--next(ng-click="next()")
            | >
