.sass-cache/
.idea/
.tmp/
.pip/
node_modules/
bower_components/
dist/

src/app/articles/*.html
src/assets/content/*.json
src/assets/images/menu/*.svg
src/assets/images/background-*
src/assets/pdf/*.pdf
