div.footer
    p.centered
        br
        a.button(ui-sref="newsletter()")
            img(src="assets/images/mail.svg")
            br
            | newsletter
        a.button.button--share(ng-init="hover=false", ng-class="{'hover':hover}")
            img(src="assets/images/facebook.svg", ng-click="shareOnFacebook()", ng-mouseenter="hover=true", ng-mouseleave="hover=false")
            img(src="assets/images/twitter.svg", ng-click="shareOnTwitter()", ng-mouseenter="hover=true", ng-mouseleave="hover=false")
            br
            | partage-moi
        a.button(href="mailto:LePtitLibe@liberation.fr", target="_blank")
            img(src="assets/images/ecris-moi.svg")
            br
            | écris-moi
        a.button(ng-href="{{ getDownloadHref() }}", target="_blank")
            img(src="assets/images/imprimer.svg")
            br
            | imprime-moi
        a.button(href="http://www.liberation.fr/apps/ptit-libe/")
            img(src="assets/images/accueil.svg")
            br
            | accueil
    p
        br
    p.footer__credits
        b Concept&nbsp;:
        |  Cécile Bourgneuf, Emilie Coquard, Sophie Gindensperger et Elsa Maudet
        br
        b Rédaction&nbsp;:
        |  Cécile Bourgneuf, Juliette Deborde et Elsa Maudet
        br
        b Graphisme et illustrations&nbsp;:
        |  Emilie Coquard
        br
        b Développement&nbsp;:
        |  Paul Joannon
