.footer {
    width: 50%;
    max-width: 640px;
    margin: 2em auto;

    p.centered {
        display: flex;
        justify-content: space-around;

        a {
            flex-grow: 0;
            flex-shrink: 0;

            img {
                width: 50px;
            }

            color: #000000;

            &.share {
                cursor: default;

                &:hover:not(.hover) {
                    color: #000000 !important;
                    text-decoration: none !important;
                }

                &.hover, &:hover {
                    img {
                        filter: invert(0%);
                    }
                }

                img {
                    cursor: pointer;

                    &:hover {
                        filter: invert(100%);
                    }
                }
            }

            &:hover, &.hover {
                color: #ffffff;
                text-decoration: underline;

                img {
                    filter: invert(100%);
                }
            }
        }
    }

    &__credits {
        padding: 1em 100px 1em 0;

        border-top: 3pt solid #000;
        border-bottom: 3pt solid #000;

        background-image: url(../assets/images/footer/sixplus.svg);
        background-repeat: no-repeat;
        background-size: 100px auto;
        background-position: right center;
    }
}

@media (max-width: 768px) {
    .footer {
        width: auto;
        max-width: 100%;
        margin: 2em 1em;
    }
}
