div.footer
    p.centered
        a.button(ng-click="shareOnFacebook()")
            img(src="assets/images/facebook.svg")
            br
            | partage-moi
        a.button(href="mailto:LePtitLibe@liberation.fr", target="_blank")
            img(src="assets/images/ecris-moi.svg")
            br
            | écris-moi
        a.button(ng-href="{{ getDownloadHref() }}", target="_blank")
            img(src="assets/images/imprimer.svg")
            br
            | imprime-moi
        a.button(ui-sref="menu({ release : getOtherN() })", target="_blank")
            img(src="assets/images/logo-small.svg", style="height:50px")
            br
            | Lire le numéro {{ getOtherN() }}
    p
        br
    p.footer__credits
        b Concept et rédaction&nbsp;:
        |  Cécile Bourgneuf, Sophie Gindensperger et Elsa Maudet
        br
        b Graphisme et illustrations&nbsp;:
        |  Emilie Coquard
        br
        b Développement&nbsp;:
        |  Paul Joannon
