div.footer.center-block
    p.text-center
        a(ui-sref="newsletter()")
            img(src="assets/images/footer/mail.svg")
            br
            | newsletter
        a.share(ng-init="hover=false", ng-class="{'hover':hover}")
            img(src="assets/images/footer/facebook.svg", ng-click="shareOnFacebook()", ng-mouseenter="hover=true", ng-mouseleave="hover=false")
            img(src="assets/images/footer/twitter.svg", ng-click="shareOnTwitter()", ng-mouseenter="hover=true", ng-mouseleave="hover=false")
            br
            | partage-moi
        a(href="mailto:LePtitLibe@liberation.fr", target="_blank")
            img(src="assets/images/footer/ecris-moi.svg")
            br
            | écris-moi
        a(href="assets/pdf/le-ptit-libe.pdf", target="_blank")
            img(src="assets/images/footer/imprimer.svg")
            br
            | imprime-moi
        a(href="http://www.liberation.fr/apps/ptit-libe/")
            img(src="assets/images/footer/accueil.svg")
            br
            | accueil
    p
        br
    p.footer__credits
        b Concept&nbsp;:
        |  Cécile Bourgneuf, Emilie Coquard, Sophie Gindensperger et Elsa Maudet
        br
        b Rédaction&nbsp;:
        |  Cécile Bourgneuf, Sophie Gindensperger et Elsa Maudet
        br
        b Graphisme et illustrations&nbsp;:
        |  Emilie Coquard
        br
        b Développement&nbsp;:
        |  Paul Joannon
