div.footer
    p.footer__buttons.centered
        a.mail(href="", target="_blank")
            img(src="assets/images/facebook.svg")
            br
            | partage-moi
        a.mail(href="mailto:LePtitLibe@liberation.fr", target="_blank")
            img(src="assets/images/ecris-moi.svg")
            br
            | écris-moi
        a.mail(href="", target="_blank")
            img(src="assets/images/imprimer.svg")
            br
            | imprime-moi
    p
        br
        | Le P’tit Libé, c’est une équipe avec des journalistes, une graphiste et un développeur.
        br
        br
    p.footer__credits
        b Concept et rédaction&nbsp;:
        |  Cécile Bourgneuf, Sophie Gindensperger et Elsa Maudet
        br
        b Graphisme et illustrations&nbsp;:
        |  Emilie Coquard
        br
        b Développement&nbsp;:
        |  Paul Joannon
