div.header.text-center(ng-controller='HeaderController')
    h1.hidden
        | P'tit Libé
    a(ui-sref='menu({ release : getCurrentRelease() })')
        img(alt="Le P'tit Libé", src="assets/images/logo.svg")
    div.header__intro(ng-class='getIntroClass()')
        p.header__intro__inner.text-left(ng-class='getIntroInnerClass()')
            | Une association de défense des animaux a récemment diffusé une vidéo où on voit des cochons ou des moutons maltraités avant d’être abattus et transformés en viande. Ça a choqué des gens, surtout que ce n’était pas la première vidéo de ce genre. En France on a le droit de tuer des animaux pour les manger mais pas de les faire souffrir avant. Au fait, d’où vient la viande&nbsp;? Et pourquoi en mange-t-on&nbsp;? Les humains pourront-ils encore en consommer dans le futur&nbsp;? Pour ce nouveau numéro, <em>le P’tit Libé</em> se plonge dans nos assiettes.
