div.header.text-center(ng-controller='HeaderController')
    h1.hidden
        | P'tit Libé
    a(ui-sref='menu({ release : getCurrentRelease() })')
        img(alt="Le P'tit Libé", src="assets/images/logo.svg")
    div.header__intro(ng-class='getIntroClass()')
        p.header__intro__inner.text-left(ng-class='getIntroInnerClass()')
            | Cette année, l’Euro de football a lieu en France. Cette compétition, organisée tous les quatre&nbsp;ans, oppose les meilleures équipes nationales d’Europe et dure un&nbsp;mois, du 10&nbsp;juin au 10&nbsp;juillet. Comment fonctionne ce championnat&nbsp;? Quelles en sont les stars&nbsp;? Et au fait, pourquoi le foot est-il si populaire&nbsp;? <em>Le P’tit Libé</em> a chaussé ses crampons pour expliquer tout ça.
