div.header(ng-controller='HeaderController')
    h1
        | P'tit Libé
    a(ui-sref='menu({ release : getCurrentRelease() })')
        img(alt="Le P'tit Libé", src="assets/images/logo.svg")
    div.header__intro(ng-class='getIntroClass()')
        p.header__intro__inner(ng-class='getIntroInnerClass()')
            em Libération
            |  lance le P’tit Libé, pour expliquer l’actualité aux enfants. A travers des dossiers pédagogiques et ludiques, la rédaction décrypte les grands sujets de société pour les petits citoyens.
            br
            br
            | Pour ce premier numéro, le P’tit Libé a décidé de raconter ce qu’on appelle la «
            strong crise des migrants
            | ». Parce qu’on voit beaucoup d’images de gens qui fuient leur pays sur des bateaux, qu’on entend parler de «réfugiés» et de pays qui se disputent sur la façon de les accueillir, et que tout ça n’est pas forcément facile à comprendre.
            br
            br
            | Pour découvrir le témoignage d’une petite Syrienne et toutes nos explications, il suffit de cliquer ou d’appuyer sur les images. Et à la fin, n’oubliez pas le quiz. Bonne lecture&nbsp;!
