div.header(ng-controller='HeaderController')
    h1
        | P'tit Libé
    a(ui-sref='menu({ release : getCurrentRelease() })')
        img(alt="Le P'tit Libé", src="assets/images/logo.svg")
    div.header__intro(ng-class='getIntroClass()')
        p.header__intro__inner(ng-class='getIntroInnerClass()')
            em Libération
            |  lance le P’tit Libé, pour expliquer l’actualité aux enfants. A travers des dossiers pédagogiques et ludiques, la rédaction décrypte les grands sujets de société pour les petits citoyens.
            br
            br
            span(ng-repeat-start='chapo in getChapo()', ng-bind-html="chapo")
            br
            br(ng-repeat-end)
