.article {
    margin-bottom: 3em;
    padding-bottom: 10em !important;

    &__title {
        vignette {
            display: inline-block;

            width: 25%;

            vertical-align: text-bottom;

            div[ng-click] {
                cursor: default;
            }
        }

        span {
            display: inline-block;

            width: 70%;
            margin-left: .5em;

            font-family: 'libesansrond-regular', sans-serif;
            font-size: 2.7em;
            text-transform: uppercase;
            line-height: 1.1em;
            letter-spacing: .05em;
        }
    }

    p, ul, #quiz, table {
        max-width: 640px;
        margin: 0 auto 2em auto;
        padding: 0 2em;

        .box-sizing(border-box);

        font-size: 1.3em;

        iframe {
            width: 100%;
        }

        &.article__title {
            margin-bottom: 3em;
        }

        &.nobottommargin {
            margin-bottom: .5em;
            padding-bottom: .5em;
        }
    }

    ul {
        list-style-type: none;

        li {
            margin: 1em 0;
            padding-left: 2.5em;
            background-image: url(../assets/images/puce-punaise-bleue.svg);
            background-repeat: no-repeat;
            background-size: 2em auto;

            &:nth-of-type(odd) {
                background-image: url(../assets/images/puce-punaise-rose.svg);
            }
        }
    }

    span.giro {
        display: block;
        width: 100%;
        min-height: 6em;
        padding-left: 4em;

        background-image: url(../assets/images/gyrophare-normal.svg);
        background-repeat: no-repeat;
        background-size: 2.5em auto;
        background-position: .5em center;

        &-ur {
            background-image: url(../assets/images/gyrophare-etaturgence.svg);
            background-size: 3.5em auto;
            background-position: left center;
        }
    }

    &__content {
        img {
            width: 100%;

            &.illustration {
                display: block;

                max-width: 85%;
                margin: 0 auto;
            }
        }

        .legend {
            padding-top: .5em;
            padding-bottom: 1.5em;

            small {
                font-size: .6em;
            }
        }

        .uppercase {
            text-transform: uppercase;
        }

        .libesansrond {
            font-family: 'libesansrond-regular', sans-serif;
            letter-spacing: 0.07em;
        }

        .largefont {
            font-size: 2em;
        }
    }
}

@media (max-width: 768px) {
    .article {
        &__title {
            span {
                font-size: 1.4em;
            }
        }

        p {
            font-size: 1.2em;
        }
    }
}
