.row.article
    div
        p.article__title.color2-fg
            vignette(image-src="getVignetteImage()")
            span.libesansrond.text-uppercase(ng-bind-html="getArticleTitle()")
        p
        div.article__content(data-editable, data-name="content", ng-include="'app/articles/' + getCurrentArticle() + '.html'")
.row
    div(ng-include="'app/components/menu/menu.html'")
