.row.article.resources(ng-style="getCartelStyle()")
    p.article__title.resources__title.color-fg
        span Ressources
    div.article__content.resources__content(ng-repeat='resource in resources')
        p(style="margin-bottom:0")
            img(ng-src='{{resource.img}}')
            span.color2-fg(ng-bind-html="resource.title")
        p(style="margin-top:0", ng-bind-html="resource.subtitle")
        p(ng-bind-html="resource.description") 
        p
            br
    p.resources__bottom {{ attribution }}
.row(ng-style="getCartelStyle()")
    div(ng-include="'app/components/menu/menu.html'")
