.row.article.resources
    p.article__title.resources__title.color-fg
        img(src='assets/images/resources.svg', style='width:125px;')
        span Ressources
    div.article__content.resources__content(ng-repeat='resource in resources')
        p(style="margin-bottom:0")
            img(ng-src='{{resource.img}}')
            span.color2-fg(ng-bind-html="resource.title")
        p(style="margin-top:0", ng-bind-html="resource.subtitle")
        p(ng-bind-html="resource.description")
        p
            br
    p.resources__bottom {{ attribution }}
.row
    div(ng-include="'app/components/menu/menu.html'")
