object#boeuf(type="image/svg+xml", data="assets/images/vache-morceaux.svg")
div#meatName3 &nbsp;
script(type="text/javascript").
    document.querySelector('#boeuf').addEventListener('load', function() {
        var meatName = document.querySelector('#meatName3'),
            svg = this.contentDocument;
            
        var colors = { off: '#F7B5AC', on: '#EB5C5F' };

        [].slice.call(svg.querySelectorAll('*[id]')).forEach(function(element) {
            if (['path', 'polygon'].indexOf(element.tagName) >= 0) {
                var name = element.getAttribute('id').replace(/_\d+_/g, '').replace(/_/g, ' ');
                element.addEventListener('mouseenter', function() {
                    meatName.innerHTML = name;
                    element.style['fill'] = colors.on;
                });
                element.addEventListener('mouseleave', function() {
                    meatName.innerHTML = '&nbsp;';
                    element.style['fill'] = colors.off;
                });

                element.style['fill'] = colors.off;
            }
        });
    });
