object(type="image/svg+xml", data="{{ svgdata }}")
div.svgwithlabels__label.libesansrond(ng-class="{'hidden': !label.length}") {{ label }}
div.svgwithlabels__label.libesansrond(style="background-color:transparent;", ng-class="{'hidden': label.length}") &nbsp;
