.libesansrond {
    font-family: 'libesansrond-regular', sans-serif;
    letter-spacing: 0.07em;

    &.condensed, .condensed {
        font-family: 'libesansrond-condensed', sans-serif;
    }
}

.syntheselibeweb {
    font-family: 'syntheselibeweb', sans-serif;
    letter-spacing: 0.07em;
}
