div.pop-over(ng-style="getStyle()")
    span.pop-over__close.pointer.color-fg.libesansrond.pull-right(ng-click="close()") X
    p.pop-over__title.color-fg.libesansrond(ng-bind-html="title")
    p.pop-over__content(ng-bind-html="content")
