.pop-over {
    display: block;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 1em;

    overflow-x: hidden;
    overflow-y: auto;

    .border-box();

    border-width: 5pt;
    border-style: solid;

    &__close {
        margin: .5em;
    }
}

@media (max-width: 768px) {
    .pop-over {
        border-style: none;

        background-color: #FBE6D8 !important;
    }

    p.pop-over__content {
        font-size: 1em;
    }
}
