.picture-switch {
    position: relative;

    &__picture {
        transition: opacity .4s linear;

        position: absolute;
        top: 0;
        left: 0;

        opacity: 0;

        &:first-of-type {
            position: relative;

            opacity: 1;
        }
    }

    &__selector {
        text-align: center;

        cursor: pointer;

        img {
            width: 35px !important;
        }

        span {
            font-size: .8em;
        }

        transform: translate(-50%, 0);

        &--wrapper {
            display: flex;
            justify-content: space-around;

            margin-top: 1em;
        }
    }
}
