div.menu--wrapper(ng-controller="MenuController")
    div.row.release-title.color-fg
        div
            p N°{{ getReleaseN() }}
        div
            p.release-title__title(ng-bind-html="getTitle()")
    div.row.centered.menu
        div.row
            div.menu__item.col-xs-4.col-xs-offset-4.col-md-2.col-md-offset-5.centered
                vignette(image-src="getVignetteImage(0)", article-id="0")
                a.color2-fg(ng-bind-html="getTitle(0)", ui-sref="article({ release : getReleaseN() , article : 0 })", ui-sref-opts="{reload:true}")
        div.row
            div.menu__item.col-xs-4.col-md-2(ng-repeat='idx in getVignetteRepetition(row)',
                                    ng-class='getVignetteClass(idx)')
                vignette(image-src="getVignetteImage(idx)", article-id="idx")
                a.color2-fg(ng-bind-html="getTitle(idx)", ui-sref="article({ release : getReleaseN() , article : idx })", ui-sref-opts="{reload:true}")
    div.row
        p.centered(style="margin-top:10em;")
    //-         | Tu veux des nouvelles
    //-         br
    //-         | du P'tit Libé&nbsp;?
    //-     p.centered
    //-         a.button(href="", target="_blank")
    //-             img(src="assets/images/mail.svg")
    //-             br
    //-             | inscris-toi
    div.row
        p.centered
            a.button(ng-click="shareOnFacebook()")
                img(src="assets/images/facebook.svg")
                br
                | partage-moi
            a.button(href="mailto:LePtitLibe@liberation.fr", target="_blank")
                img(src="assets/images/ecris-moi.svg")
                br
                | écris-moi
            a.button(ng-href="{{ getDownloadHref() }}", target="_blank")
                img(src="assets/images/imprimer.svg")
                br
                | imprime-moi
